/* Add here all your css styles (customizations) */
.btn-o {
   border: 0;
   color: #fff;
   font-size: 12px;
   cursor: pointer;
   font-weight: 400;
   padding: 2px 9px;
   position: relative;
   background: #4cc62f;
   display: inline-block;
   text-decoration: none;
   border-radius: 4px !important;
}

.btn-o-lightgreen {
   border: 0;
   color: #fff;
   font-size: 12px;
   cursor: pointer;
   font-weight: 400;
   padding: 2px 9px;
   position: relative;
   background: #72bf44;
   display: inline-block;
   text-decoration: none;
   border-radius: 4px !important;
}
.btn-o-lightgreen-o {
   border: 0;
   color: #fff;
   font-size: 12px;
   cursor: pointer;
   font-weight: 400;
   padding: 2px 9px;
   position: relative;
   background: #7de241;
   display: inline-block;
   text-decoration: none;
   border-radius: 4px !important;
}
.btn-o-lightgreen:hover {
   border: 0;
   color: #fff;
   font-size: 12px;
   cursor: pointer;
   font-weight: 400;
   padding: 2px 9px;
   position: relative;
   background: #26ad5e;
   display: inline-block;
   text-decoration: none;
   border-radius: 4px !important;
}
.btn-o-lightgreen-o:hover {
   border: 0;
   color: #fff;
   font-size: 12px;
   cursor: pointer;
   font-weight: 400;
   padding: 2px 9px;
   position: relative;
   background: #2ecd71;
   display: inline-block;
   text-decoration: none;
   border-radius: 4px !important;
}
.navtransparent{
   margin-top: -81px;
   background: rgba(0, 0, 0, 0.7);
   border-color: transparent;
}
.slidertransparent{
   margin-top: 40px;
   background: rgba(0, 0, 0, 0.2);
border-color: transparent;
padding: 20px 20px 20px 50px;
}

.plopacity{
   opacity:  0.5;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus{
   color: #fff;
background-color: #3C8440;
border-bottom: 2px solid #3BA842;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus{
     color: #fff;
background-color: #3C8440;
border-bottom: 2px solid #3BA842;
}


.greenhff:hover, .greenhff:focus{
   color: #fff;
border-bottom: 1px solid #3BA842;
cursor: pointer;
text-decoration: none;
}

.greenhf:hover, .greenhf:focus{
   color: #fff;
background-color: #62883C;
border-bottom: 2px solid #30FF3E;
cursor: pointer;
opacity: 0.6;
}

.navbar-default .navbar-nav>li>a{
   color: #fff;
}

.form-control-transparent{
display: block;
width: 100%;
height: 34px;
padding: 6px 12px;
font-size: 14px;
line-height: 1.428571429;
color: #FFFFFF;
opacity: 0.5;
background-color: #453C3C;
background-image: none;
border: 1px solid #FFF;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.parallaxBgWhitebox{
  background: repeat-x url(../img/bg/whitebox.png) 0 0;
background-position-x: 1px;
height: 16px;
margin: -35px;
position: relative;
}

.parallaxBggift{
padding: 60px 0;
background: url(../img/bg/giftbox.png) 50% 0 no-repeat center;
}

.yellowbg{
   background-color: #f7f7ed;
}


.btn-u.btn-white {
   background-color: transparent;
border:  1px solid #fff;
color: #fff;
border-radius: 4% !important;
}
.btn-u.btn-white:hover, 
.btn-u.btn-white:focus, 
.btn-u.btn-white:active, 
.btn-u.btn-white.active, 
.open .dropdown-toggle.btn-u.btn-white {
   background: #fff;
   color: #72c02c;

}

.price-head{
 display:block;
  position:relative; 
  top:-70px;
 background:url(../img/price-head-bg.png) no-repeat top;
 width:231px;
 height:45px;
 margin:0 auto;
 font: 18px Lato, Arial, Helvetica, sans-serif;
 color:#cbc8b9;
 text-align:center;
 padding-top:10px;
 text-shadow:0px 0px 3px #000000;}

 .hr-green {
  margin: auto;
  width: 35px;
background-color: #7bbf53;
padding: 2px 0px 0px 0px;
}

 .hr-darkgreen {
  margin: auto;
  width: 35px;
background-color: #37b36b;
padding: 2px 0px 0px 0px;
}

 .hr-white {
 margin-bottom: 10px;
width: 35px;
background-color: #fff;
padding: 1px 0px 0px 0px;
}

.hr-white-u {
 margin: 20px 0;
 background-color: #ddd;
}