/* Add here all your css styles (customizations) */
.btn-o {
   border: 0;
   color: #fff;
   font-size: 12px;
   cursor: pointer;
   font-weight: 400;
   padding: 2px 9px;
   position: relative;
   background: #72c02c;
   display: inline-block;
   text-decoration: none;
   border-radius: 14% !important;
}
.navtransparent{
   margin-top: -81px;
   background: rgba(0, 0, 0, 0.7);
   border-color: transparent;
}
.slidertransparent{
   margin-top: 40px;
   background: rgba(0, 0, 0, 0.2);
border-color: transparent;
padding: 20px 20px 20px 50px;
}

.plopacity{
   opacity:  0.6;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus{
   color: #fff;
background-color: #3C8440;
border-bottom: 2px solid #3BA842;
}

.greenhff:hover, .greenhff:focus{
   color: #fff;
border-bottom: 1px solid #3BA842;
cursor: pointer;
text-decoration: none;
}

.greenhf:hover, .greenhf:focus{
   color: #fff;
background-color: #3C8440;
border-bottom: 2px solid #3BA842;
cursor: pointer;
}

.navbar-default .navbar-nav>li>a{
   color: #fff;
}

.form-control-transparent
{
   display: block;
width: 100%;
height: 34px;
padding: 6px 12px;
font-size: 14px;
line-height: 1.428571429;
color: #FFF;
background-color: #676464;
background-image: none;
border: 1px solid #FFF;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.parallaxBgWhitebox{
  background: repeat-x url(../img/bg/whitebox.png) 0 0;
background-position-x: 1px;
height: 16px;
margin: -35px;
position: relative;
}

.parallaxBggift{
padding: 60px 0;
background: url(../img/bg/giftbox.png) 50% 0 no-repeat fixed;
}

.yellowbg{
   background-color: #f7f7ed;
}


.btn-u.btn-white {
   background-color: transparent;
border:  1px solid #fff;
color: #fff;
border-radius: 4% !important;
}
.btn-u.btn-white:hover, 
.btn-u.btn-white:focus, 
.btn-u.btn-white:active, 
.btn-u.btn-white.active, 
.open .dropdown-toggle.btn-u.btn-white {
   background: #fff;
   color: #72c02c;

}

.price-head{
 display:block;
  position:relative; 
  top:-69px;
 background:url(../img/price-head-bg.png) no-repeat top;
 width:231px;
 height:45px;
 margin:0 auto;
 font:bold 20px Arial, Helvetica, sans-serif;
 color:#BABABA;
 text-align:center;
 padding-top:8px;
 text-shadow:0px 0px 3px #000000;}