<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>LikeGift_admin</title>
		<meta name="description" content="description">
		<meta name="author" content="DevOOPS">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="/static/assets2/plugins/bootstrap/bootstrap.css" rel="stylesheet">
		<link href="/static/assets2/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet">
		<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
		<link href='http://fonts.googleapis.com/css?family=Righteous' rel='stylesheet' type='text/css'>
		<link href="/static/assets2/plugins/fancybox/jquery.fancybox.css" rel="stylesheet">
		<link href="/static/assets2/plugins/fullcalendar/fullcalendar.css" rel="stylesheet">
		<link href="/static/assets2/plugins/xcharts/xcharts.min.css" rel="stylesheet">
		<link href="/static/assets2/plugins/select2/select2.css" rel="stylesheet">
		<link href="/static/assets2/css/style.css" rel="stylesheet">
		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
				<script src="http://getbootstrap.com/docs-assets/js/html5shiv.js"></script>
				<script src="http://getbootstrap.com/docs-assets/js/respond.min.js"></script>
		<![endif]-->
	</head>
<body>
<!--Start Header-->
<div id="screensaver">
	<canvas id="canvas"></canvas>
	<i class="fa fa-lock" id="screen_unlock"></i>
</div>
<div id="modalbox">
	<div class="devoops-modal">
		<div class="devoops-modal-header">
			<div class="modal-header-name">
				<span>Product Edit</span>
			</div>
		</div>
		<div class="devoops-modal-inner">
        <form action="/updateproduct" method="post">{% csrf_token %}
            <label>ProductID</label>
                <div >
                <input id="newid" name="newid" class="form-control" type="text">
                </div>

            <label>ProductSKU</label>
                <div>
                <input id="newsku" name="newsku" class="form-control" type="text">
                </div>

             <label>ProductName</label>
                <div>
                <input id="newname" name="newname" class="form-control" type="text">
                </div>

            <label>ProductPrice</label>
                <div>
                <input id="newprice" name="newprice" class="form-control" type="text">
                </div>

            <label>ProductWeight</label>
                <div>
                <input id="newweight" name="newweight" class="form-control" type="text">
                </div>

            <label>ProductBestFor</label>
                <div>
                <input id="newbest" name="newbest" class="form-control" type="text">
                </div>

              <label>ProductCartDesc</label>
                <div >
                <input id="newcdesc" name="newcdesc" class="form-control" type="text">
                </div>

            <label>ProductShortDesc</label>
                <div>
                <input id="newsdesc" name="newsdesc" class="form-control" type="text">
                </div>

             <label>ProductLongDesc</label>
                <div>
                <input id="newldesc" name="newldesc" class="form-control" type="text">
                </div>

            <label>ProductSize</label>
                <div>
                <input id="newsize" name="newsize" class="form-control" type="text">
                </div>

            <label>ProductColor</label>
                <div>
                <input id="newcolor" name="newcolor" class="form-control" type="text">
                </div>

            <label>ProductRating</label>
                <div>
                <input id="newrating" name="newrating" class="form-control" type="text">
                </div>

            <label>ProductThumb</label>
                <div>
                <input id="newtumb" name="newtumb" class="form-control" type="text">
                </div>

            <label>ProductImage</label>
                <div>
                <input id="newimg" name="newimg" class="form-control" type="text">
                </div>

            <label>ProductImage2</label>
                <div>
                <input id="newimg2" name="newimg2" class="form-control" type="text">
                </div>

            <label>ProductImage3</label>
                <div>
                <input id="newimg3" name="newimg3" class="form-control" type="text">
                </div>

            <label>ProductCategoryID</label>
                <div>
                <input id="newcatid" name="newcatid" class="form-control" type="text">
                </div>

              <label>ProductUpdateDate</label>
                <div >
                <input id="newdate" name="newdate" class="form-control" type="text">
                </div>

            <label>ProductStock</label>
                <div>
                <input id="newstock" name="newstock" class="form-control" type="text">
                </div>

             <label>ProductLive</label>
                <div>
                <input id="newlive" name="newlive" class="form-control" type="text">
                </div>

            <label>ProductUnlimited</label>
                <div>
                <input id="newunlimit" name="newunlimit" class="form-control" type="text">
                </div>

            <label>ProductLocation</label>
                <div>
                <input id="newloc" name="newloc" class="form-control" type="text">
                </div>

            <div class="row">
            <div class="col-md-2 col-md-offset-1">
                <button type="submit" class="btn-u btn-block">Save</button>                
            </div>
        </div>
        </form>
		</div>
		<div class="devoops-modal-bottom">
		</div>
	</div>
</div>
<header class="navbar">
	<div class="container-fluid expanded-panel">
		<div class="row">
			<div id="logo" class="col-xs-12 col-sm-2">
				<a href="index.html">Like_Gifts</a>
			</div>
			<div id="top-panel" class="col-xs-12 col-sm-10">
				<div class="row">
					<div class="col-xs-8 col-sm-4">
						<a href="#" class="show-sidebar">
						  <i class="fa fa-bars"></i>
						</a>
						<div id="search">
							<input type="text" placeholder="search"/>
							<i class="fa fa-search"></i>
						</div>
					</div>
					<div class="col-xs-4 col-sm-8 top-panel-right">
						<ul class="nav navbar-nav pull-right panel-menu">
							<li class="hidden-xs">
								<a href="index.html" class="modal-link">
									<i class="fa fa-bell"></i>
									<span class="badge">7</span>
								</a>
							</li>
							<li class="hidden-xs">
								<a class="ajax-link" href="/static/assets2/ajax/calendar.html">
									<i class="fa fa-calendar"></i>
									<span class="badge">7</span>
								</a>
							</li>
							<li class="hidden-xs">
								<a href="/static/assets2/ajax/page_messages.html" class="ajax-link">
									<i class="fa fa-envelope"></i>
									<span class="badge">7</span>
								</a>
							</li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle account" data-toggle="dropdown">
									<div class="avatar">
										<img src="img/avatar.jpg" class="img-rounded" alt="avatar" />
									</div>
									<i class="fa fa-angle-down pull-right"></i>
									<div class="user-mini pull-right">
										<span class="welcome">Welcome,</span>
										<span>Jane Devoops</span>
									</div>
								</a>
								<ul class="dropdown-menu">
									<li>
										<a href="#">
											<i class="fa fa-user"></i>
											<span>Profile</span>
										</a>
									</li>
									<li>
										<a href="ajax/page_messages.html" class="ajax-link">
											<i class="fa fa-envelope"></i>
											<span>Messages</span>
										</a>
									</li>
									<li>
										<a href="ajax/gallery_simple.html" class="ajax-link">
											<i class="fa fa-picture-o"></i>
											<span>Albums</span>
										</a>
									</li>
									<li>
										<a href="ajax/calendar.html" class="ajax-link">
											<i class="fa fa-tasks"></i>
											<span>Tasks</span>
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fa fa-cog"></i>
											<span>Settings</span>
										</a>
									</li>
									<li>
										<a href="/logoutadmin">
											<i class="fa fa-power-off"></i>
											<span>Logout</span>
										</a>
									</li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
<!--End Header-->
<!--Start Container-->
<div id="main" class="container-fluid">
	<div class="row">
		<div id="sidebar-left" class="col-xs-2 col-sm-2">
			<ul class="nav main-menu">
				<li>
					<a href="ajax/dashboard.html" class="active ajax-link">
						<i class="fa fa-dashboard"></i>
						<span class="hidden-xs">Dashboard</span>
					</a>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle">
						<i class="fa fa-bar-chart-o"></i>
						<span class="hidden-xs">Orders</span>
					</a>
					<ul class="dropdown-menu">
						<li><a class="ajax-link" href="ajax/charts_xcharts.html">Today</a></li>
						<li><a class="" href="/allorders">All</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle">
						<i class="fa fa-table"></i>
						 <span class="hidden-xs">Products</span>
					</a>
					<ul class="dropdown-menu">
                        <li><a class="" href="/allproducts">ALL</a></li>
						<li><a class="" href="/myproducts/1">SPA</a></li>
						<li><a class="" href="/myproducts/2">DINING</a></li>
						<li><a class="" href="/myproducts/3">APPAREL</a></li>
                        <li><a class="" href="/myproducts/4">GETAWAYS</a></li>
						<li><a class="" href="/myproducts/5">ACTIVITIES</a></li>
						<li><a class="" href="/myproducts/6">ADVENTURE</a></li>
                        <li><a class="" href="/myproducts/7">LIFESTYLE</a></li>
						<li><a class="" href="/myproducts/8">HOME</a></li>
						<li><a class="" href="/myproducts/9">FASHION</a></li>
                        <li><a class="" href="/myproducts/10">SPECIAL TREAT</a></li>
						<li><a class="" href="/myproducts/11">KIDS</a></li>
						<li><a class="" href="/myproducts/12">SHOWS</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle">
						<i class="fa fa-pencil-square-o"></i>
						 <span class="hidden-xs">Forms</span>
					</a>
					<ul class="dropdown-menu">
						<li><a class="ajax-link" href="ajax/forms_elements.html">Elements</a></li>
						<li><a class="ajax-link" href="ajax/forms_layouts.html">Layouts</a></li>
						<li><a class="" href="/uploadimage">File Uploader</a></li>
                        <li><a class="" href="/uploadproducts">Update Products</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle">
						<i class="fa fa-desktop"></i>
						 <span class="hidden-xs">UI Elements</span>
					</a>
					<ul class="dropdown-menu">
						<li><a class="ajax-link" href="ajax/ui_grid.html">Grid</a></li>
						<li><a class="ajax-link" href="ajax/ui_buttons.html">Buttons</a></li>
						<li><a class="ajax-link" href="ajax/ui_progressbars.html">Progress Bars</a></li>
						<li><a class="ajax-link" href="ajax/ui_jquery-ui.html">Jquery UI</a></li>
						<li><a class="ajax-link" href="ajax/ui_icons.html">Icons</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle">
						<i class="fa fa-list"></i>
						 <span class="hidden-xs">Users</span>
					</a>
					<ul class="dropdown-menu">
						<li><a href="/myusers">Users</a></li>
						<li><a href="ajax/page_register.html">Users Review</a></li>
					</ul>
				</li>
				<!--<li class="dropdown">
					<a href="#" class="dropdown-toggle">
						<i class="fa fa-map-marker"></i>
						<span class="hidden-xs">Maps</span>
					</a>
					<ul class="dropdown-menu">
						<li><a class="ajax-link" href="ajax/maps.html">OpenStreetMap</a></li>
						<li><a class="ajax-link" href="ajax/map_fullscreen.html">Fullscreen map</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle">
						<i class="fa fa-picture-o"></i>
						 <span class="hidden-xs">Gallery</span>
					</a>
					<ul class="dropdown-menu">
						<li><a class="ajax-link" href="ajax/gallery_simple.html">Simple Gallery</a></li>
						<li><a class="ajax-link" href="ajax/gallery_flickr.html">Flickr Gallery</a></li>
					</ul>
				</li>
				<li>
					 <a class="ajax-link" href="ajax/typography.html">
						 <i class="fa fa-font"></i>
						 <span class="hidden-xs">Typography</span>
					</a>
				</li>
				 <li>
					<a class="ajax-link" href="ajax/calendar.html">
						 <i class="fa fa-calendar"></i>
						 <span class="hidden-xs">Calendar</span>
					</a>
				 </li>-->
				<li class="dropdown">
					<a href="#" class="dropdown-toggle">
						<i class="fa fa-picture-o"></i>
						 <span class="hidden-xs">Multilevel menu</span>
					</a>
					<ul class="dropdown-menu">
						<li><a href="#">First level menu</a></li>
						<li><a href="#">First level menu</a></li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle">
								<i class="fa fa-plus-square"></i>
								<span class="hidden-xs">Second level menu group</span>
							</a>
							<ul class="dropdown-menu">
								<li><a href="#">Second level menu</a></li>
								<li><a href="#">Second level menu</a></li>
								<li class="dropdown">
									<a href="#" class="dropdown-toggle">
										<i class="fa fa-plus-square"></i>
										<span class="hidden-xs">Three level menu group</span>
									</a>
									<ul class="dropdown-menu">
										<li><a href="#">Three level menu</a></li>
										<li><a href="#">Three level menu</a></li>
										<li class="dropdown">
											<a href="#" class="dropdown-toggle">
												<i class="fa fa-plus-square"></i>
												<span class="hidden-xs">Four level menu group</span>
											</a>
											<ul class="dropdown-menu">
												<li><a href="#">Four level menu</a></li>
												<li><a href="#">Four level menu</a></li>
												<li class="dropdown">
													<a href="#" class="dropdown-toggle">
														<i class="fa fa-plus-square"></i>
														<span class="hidden-xs">Five level menu group</span>
													</a>
													<ul class="dropdown-menu">
														<li><a href="#">Five level menu</a></li>
														<li><a href="#">Five level menu</a></li>
														<li class="dropdown">
															<a href="#" class="dropdown-toggle">
																<i class="fa fa-plus-square"></i>
																<span class="hidden-xs">Six level menu group</span>
															</a>
															<ul class="dropdown-menu">
																<li><a href="#">Six level menu</a></li>
																<li><a href="#">Six level menu</a></li>
															</ul>
														</li>
													</ul>
												</li>
											</ul>
										</li>
										<li><a href="#">Three level menu</a></li>
									</ul>
								</li>
							</ul>
						</li>
					</ul>
				</li>
			</ul>
		</div>
		<!--Start Content-->
		<div id="content" class="col-xs-12 col-sm-10">
			<!--<div class="preloader">
				<img src="img/devoops_getdata.gif" class="devoops-getdata" alt="preloader"/>
			</div>-->
{% load staticfiles %}
		<div class="row">
	        <div id="breadcrumb" class="col-md-12">
		        <ol class="breadcrumb">
			        <li><a href="#">Dashboard</a></li>
			        <li><a href="#">User</a></li>
			        <li><a href="#">users</a></li>
		        </ol>
	        </div>
        </div>
	    <div class="col-xs-12">
		    <div class="box">
			    <div class="box-header">
				    <div class="box-name">
					    <i class="fa fa-usd"></i>
					    <span>User list</span>
				    </div>
				<div class="box-icons">
					<a class="collapse-link">
						<i class="fa fa-chevron-up"></i>
					</a>
					<a class="expand-link">
						<i class="fa fa-expand"></i>
					</a>
					<a class="close-link">
						<i class="fa fa-times"></i>
					</a>
				</div>
				<div class="no-move"></div>
			</div>
			<div class="box-content no-padding">
				<table class="table table-bordered table-striped table-hover table-heading table-datatable" id="datatable-1">
					<thead>
						<tr>
							<th>Id</th>
							<th>Title</th>
							<th>Price</th>
							<th>Stock</th>
							<th>Location</th>
							<th>Ratings</th>
                            <th>Edit</th>
							<th>Delete</th>
						</tr>
					</thead>
					<tbody>
					<!-- Start: list_row -->
{% for product in products %}
						<tr>
							<td>{{product.productid}}</td>
							<td><img class="img-rounded" src="/static/{{product.productimage}}" alt="">{{product.productname}}</td>
							<td>{{product.productprice}}</td>
							<td>{{product.productstock}}</td>
							<td>{{product.productlocation}}</td>
							<td>{{product.productcategoryid}}</td>
                            <td><button type="button" class="btn btn-default" onclick="javascript:editproduct({{product.productid}})">Edit</button></td>
                            <td><a href="/delproduct/{{product.productid}}"><button type="button" class="btn btn-danger">Delete</button></a></td>
						</tr>
{% endfor %}
					<!-- End: list_row -->
					</tbody>
					<tfoot>
						<tr>
							<th>Id</th>
							<th>Title</th>
							<th>Price</th>
							<th>Stock</th>
							<th>Location</th>
							<th>Ratings</th>
                            <th>Edit</th>
							<th>Delete</th>
						</tr>
					</tfoot>
				</table>
			</div>
		</div>
		<!--End Content-->
	</div>
</div>

<!--End Container-->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!--<script src="http://code.jquery.com/jquery.js"></script>-->
<script src="/static/assets2/plugins/jquery/jquery-2.1.0.min.js"></script>
<script src="/static/assets2/plugins/jquery-ui/jquery-ui.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/static/assets2/plugins/bootstrap/bootstrap.min.js"></script>
<script src="/static/assets2/plugins/justified-gallery/jquery.justifiedgallery.min.js"></script>
<script src="/static/assets2/plugins/tinymce/tinymce.min.js"></script>
<script src="/static/assets2/plugins/tinymce/jquery.tinymce.min.js"></script>
<!-- All functions for this theme + document.ready processing -->
<script src="/static/assets2/js/devoops.js"></script>

</body>
</html>

<script type="text/javascript">
// Run Datables plugin and create 3 variants of settings
function AllTables(){
	TestTable1();
	TestTable2();
	TestTable3();
	LoadSelect2Script(MakeSelect2);
}
function MakeSelect2(){
	$('select').select2();
	$('.dataTables_filter').each(function(){
		$(this).find('label input[type=text]').attr('placeholder', 'Search');
	});
}


function editproduct(productid){
    $.ajax({
        type: 'GET',
        url: '/oneproduct',
        dataType: "json",
        async: true,
        data: { productid: productid
        },
        success: function(response){
            console.log(response.onlyproduct);
            var oldval = $.parseJSON(response.onlyproduct)[0];
            console.log(oldval.fields.productname);
            document.getElementById('newid').value=oldval.pk;
            document.getElementById('newsku').value=oldval.fields.productsku;
            document.getElementById('newname').value=oldval.fields.productname;
            document.getElementById('newprice').value=oldval.fields.productprice;
            document.getElementById('newweight').value=oldval.fields.productweight;
            document.getElementById('newbest').value=oldval.fields.productbestfor;
            document.getElementById('newcdesc').value=oldval.fields.productcartdesc;
            document.getElementById('newsdesc').value=oldval.fields.productshortdesc;
            document.getElementById('newldesc').value=oldval.fields.productlongdesc;
            document.getElementById('newsize').value=oldval.fields.productsize;
            document.getElementById('newcolor').value=oldval.fields.productcolor;
            document.getElementById('newrating').value=oldval.fields.productrating;
            document.getElementById('newtumb').value=oldval.fields.productthumb;
            document.getElementById('newimg').value=oldval.fields.productimage;
            document.getElementById('newimg2').value=oldval.fields.productimage2;
            document.getElementById('newimg3').value=oldval.fields.productimage3;
            document.getElementById('newcatid').value=oldval.fields.productcategoryid;
            document.getElementById('newdate').value=oldval.fields.productupdatedate;
            document.getElementById('newstock').value=oldval.fields.productstock;
            document.getElementById('newlive').value=oldval.fields.productlive;
            document.getElementById('newunlimit').value=oldval.fields.productunlimited;
            document.getElementById('newloc').value=oldval.fields.productlocation;
            $('#modalbox').modal('show');
        }
    });
}
</script>