{% extends "app/indexbase.html" %}

{% block content %}
{% load staticfiles %}

    <!--=== Content Part ===-->
    <div class="container content">
        <div class="row team margin-bottom-20">
            <div class="col-md-4">
                <div class="thumbnail-style">
                    <img alt="" src="/static/assets/img/team/{{aboutcontent.imagepic}}" class="img-responsive">
                    <h3><a>{{aboutcontent.name}}</a></h3>
                    <p>{{aboutcontent.shortdesc}}</p>
                    <ul class="social-icons">
                        <li><a class="rounded-x social_facebook" data-original-title="Facebook" href="#"></a></li>
                        <li><a class="rounded-x social_twitter" data-original-title="Twitter" href="#"></a></li>
                        <li><a class="rounded-x social_googleplus" data-original-title="Google Plus" href="#"></a></li>
                        <li><a class="rounded-x social_linkedin" data-original-title="Linkedin" href="#"></a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
            </div>

            <div class="col-md-8">
                <div class="margin-bottom-10"></div>
                <p>{{aboutcontent.longdesc}}</p><br>
                <!--quote-->
                <blockquote class="margin-bottom-30">
                    <p><em>"{{aboutcontent.quote}}"</em></p>
                    <small><em>{{aboutcontent.quoteby}}</em></small>    
                </blockquote>
                <!--points-->
            </div>
        </div>
    </div><!--/container-->		
    <!--=== End Content Part ===-->


 {% endblock %}