{% extends "app/indexbase.html" %}

{% block content %}
{% load staticfiles %}

    <!--=== Content Part ===-->
    <div class="container content">
        <div class="row team margin-bottom-20">
            <div class="col-md-4">
                <div class="thumbnail-style">
                    <img alt="" src="/static/assets/img/team/1.jpg" class="img-responsive">
                    <h3><a>Джон Галт</a> <small>Главный исполнительный директор</small></h3>
                    <p>Донец ID элит , не миль Porta Gravida на Eget Metus . Fusce dapibus , Justo сидеть Амет пзиз etiam Порта семафор...</p>
                    <ul class="social-icons">
                        <li><a class="rounded-x social_facebook" data-original-title="Facebook" href="#"></a></li>
                        <li><a class="rounded-x social_twitter" data-original-title="Twitter" href="#"></a></li>
                        <li><a class="rounded-x social_googleplus" data-original-title="Google Plus" href="#"></a></li>
                        <li><a class="rounded-x social_linkedin" data-original-title="Linkedin" href="#"></a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
            </div>

            <div class="col-md-8">
                <div class="margin-bottom-10"></div>
                <p><span class="dropcap-bg">A</span>cilis quidem Rerum Facilis оц др expedita distinctio эстет expedita distinctio Lorem Ipsum Dolor сидеть Амет consectetur adipiscing Elit . Ut без либеро consectetur adipiscing элит Magna . Pellentesque viverra vehicula сем ут volutpat СЭД др Quam Lacus . Fusce condimentum eleifend enimfeugiat . Lorem Ipsum Dolor сидеть Амет , consectetur adipiscing DUIs Mollis , оц , не Commodo luctus элит posuere .</p>
                <p>Et Harum quidem Rerum Facilis оц др expedita aenean ЕС Лев Quam distinctio Lorem Ipsum Dolor сидеть Амет consectetur adipiscing Elit . Fusce condimentum eleifend enimfeugiat . Pellentesque viverra vehicula сем ут volutpat .</p><br>

                <blockquote class="margin-bottom-30">
                    <p><em>"Lorem Ipsum Dolor сидеть Амет , consectetur adipiscing DUIs Mollis , оц , не Commodo luctus элит posuere Erat с анте . Aenean ЕС Лев Quam . Pellentesque ornare сем лациния Quam venenatis Lorem Ipsum Dolor сидеть Амет , consectetur adipiscing"</em></p>
                    <small><em>Etiam Porta сем malesuada</em></small>
                </blockquote>

                <div class="row list-style-v1">
                    <div class="col-md-6">
                        <ul class="list-unstyled margin-bottom-35">
                            <li><i class="color-green fa fa-check"></i> Мексиканская иммиграция , но Япония</li>
                            <li><i class="color-green fa fa-check"></i> Proin сидеть AMET язычок Новичок Орси Tempus viverra</li>
                            <li><i class="color-green fa fa-check"></i> Proin сидеть AMET язычок Новичок Орси Tempus viverra</li>
                            <li><i class="color-green fa fa-check"></i> Nulla изречение fermentum ЕС Мягкий боль</li>
                            <li><i class="color-green fa fa-check"></i> Конечно , различные озера и ни суд, Бюро</li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul class="list-unstyled margin-bottom-35">
                            <li><i class="color-green fa fa-check"></i> Мексиканская иммиграция , но Япония</li>
                            <li><i class="color-green fa fa-check"></i> Proin сидеть AMET язычок Новичок Орси Tempus viverra</li>
                            <li><i class="color-green fa fa-check"></i> Proin сидеть AMET язычок Новичок Орси Tempus viverra</li>
                            <li><i class="color-green fa fa-check"></i> Nulla изречение fermentum ЕС Мягкий боль</li>
                            <li><i class="color-green fa fa-check"></i> Конечно , различные озера и ни суд, Бюро</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="headline"><h2>Директора аккаунт</h2></div>
        <div class="row team margin-bottom-20">
            <div class="col-sm-4">
                <div class="thumbnail-style">
                    <img alt="" src="/static/assets/img/team/3.jpg" class="img-responsive">
                    <h3><a>Kate Metus</a> <small>Project Manager</small></h3>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p>
                    <ul class="list-unstyled list-inline team-socail">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="thumbnail-style">
                    <img alt="" src="/static/assets/img/team/2.jpg" class="img-responsive">
                    <h3><a>Porta Gravida</a> <small>VP of Operations</small></h3>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p>
                    <ul class="list-unstyled list-inline team-socail">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="thumbnail-style">
                    <img alt="" src="/static/assets/img/team/4.jpg" class="img-responsive">
                    <h3><a>Donec Elit</a> <small>Director, R &amp; D Talent</small></h3>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p>
                    <ul class="list-unstyled list-inline team-socail">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>    

        <div class="shadow-wrapper">
            <blockquote class="hero box-shadow shadow-effect-2">
                <p><em>"Lorem ipsum dolor sit amet, consectetur adipiscing duis mollis, est non commodo luctus elit posuere erat a ante. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis lorem ipsum dolor sit amet, consectetur adipiscing"</em></p>
                <small><em>Etiam porta sem malesuada</em></small>
            </blockquote>
        </div>

        <div class="margin-bottom-60"></div>

        <div class="headline"><h2>Другие члены команды</h2></div>
        <div class="row team margin-bottom-20">
            <div class="col-sm-3">
                <div class="thumbnail-style">
                    <img alt="" src="/static/assets/img/team/1.jpg" class="img-responsive">
                    <h3><a>Jack Bour</a> <small>Chief Executive Officer</small></h3>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p>
                    <ul class="list-unstyled list-inline team-socail">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="thumbnail-style">
                    <img alt="" src="/static/assets/img/team/3.jpg" class="img-responsive">
                    <h3><a>Kate Metus</a> <small>Project Manager</small></h3>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p>
                    <ul class="list-unstyled list-inline team-socail">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="thumbnail-style">
                    <img alt="" src="/static/assets/img/team/2.jpg" class="img-responsive">
                    <h3><a>Porta Gravida</a> <small>VP of Operations</small></h3>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p>
                    <ul class="list-unstyled list-inline team-socail">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="thumbnail-style">
                    <img alt="" src="/static/assets/img/team/4.jpg" class="img-responsive">
                    <h3><a>Donec Elit</a> <small>Director, R &amp; D Talent</small></h3>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p>
                    <ul class="list-unstyled list-inline team-socail">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <hr class="margin-bottom-40">
        <div class="row team">
            <div class="col-sm-3">
                <div class="thumbnail-style">
                    <img alt="" src="/static/assets/img/team/2.jpg" class="img-responsive">
                    <h3><a>Jack Bour</a> <small>Chief Executive Officer</small></h3>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p>
                    <ul class="list-unstyled list-inline team-socail">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="thumbnail-style">
                    <img alt="" src="/static/assets/img/team/1.jpg" class="img-responsive">
                    <h3><a>Kate Metus</a> <small>Project Manager</small></h3>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p>
                    <ul class="list-unstyled list-inline team-socail">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="thumbnail-style">
                    <img alt="" src="/static/assets/img/team/4.jpg" class="img-responsive">
                    <h3><a>Porta Gravida</a> <small>VP of Operations</small></h3>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p>
                    <ul class="list-unstyled list-inline team-socail">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="thumbnail-style">
                    <img alt="" src="/static/assets/img/team/3.jpg" class="img-responsive">
                    <h3><a>Donec Elit</a> <small>Director, R &amp; D Talent</small></h3>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p>
                    <ul class="list-unstyled list-inline team-socail">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div><!--/container-->		
    <!--=== End Content Part ===-->


 {% endblock %}