{% extends "app/indexbase.html" %}

{% block content %}
{% load staticfiles %}

    <!--=== Content Part ===-->
    <div class="container content">		
    	<div class="row blog-page">    
            <!-- Left Sidebar -->
        	<div class="col-md-9 md-margin-bottom-40">
                <!--Blog Post-->
{% for eachblog in allblogs %}        
            <div id="blog{{eachblog.slno}}">
                <hr class="margin-bottom-40">
        
                <div class="row blog blog-medium margin-bottom-40">
                    <div class="col-md-5">
                        <img class="img-responsive" src="static/assets/img/main/{{eachblog.image}}" alt="">
                    </div>    
                    <div class="col-md-7">
                        <h2>{{eachblog.blogtitle}}</h2>
                        <ul class="list-unstyled list-inline blog-info">
                            <li><i class="fa fa-calendar"></i> {{eachblog.pubdate}}</li>
                            <li><i class="fa fa-comments"></i> <a href="#">24 Comments</a></li>
                            <li><i class="fa fa-tags"></i>{{eachblog.technology}}</li>
                        </ul>
                        <p id="smalldesc{{eachblog.slno}}">{{eachblog.shortdesc}}</p>
                        <p><a class="btn-u btn-u-small" href="javascript:replaceDesc({{eachblog.slno}})"><i class="fa fa-location-arrow"></i> Read More</a></p>
                        <p id="moredesc{{eachblog.slno}}" class="hidden" value="{{eachblog.longdesc}}"></p>
                    </div>  
                </div>   
                </div>
                <!--End Blog Post-->
{% endfor %}
               
            </div>
            <!-- End Left Sidebar -->

            <!-- Right Sidebar -->
        	<div class="col-md-3">
                <!-- Posts -->
                <div class="posts margin-bottom-40">
                    <div class="headline headline-md"><h2>Recent Posts</h2></div>
{% for recentblog in recentblogs %}
                    <dl class="dl-horizontal">
                        <dt><a href="#"><img src="static/assets/img/main/{{recentblog.image}}" alt="" /></a></dt>
                        <dd>
                            <p><a href="#blog{{recentblog.slno}}">{{recentblog.blogtitle}}</a></p> 
                        </dd>
                    </dl>
{% endfor %}                    
                </div><!--/posts-->
                <!-- End Posts -->
            </div>
            <!-- End Right Sidebar -->
        </div><!--/row-->        
    </div><!--/container-->		
    <!--=== End Content Part ===-->

<script type="text/javascript">
    function replaceDesc(slno){
        var lid="moredesc"+slno;
        var sid="smalldesc"+slno;
        var bshtml = document.getElementById(lid).getAttribute("value");
        document.getElementById(sid).innerHTML = bshtml;
    }
</script>
{% endblock %}
