<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->  
<head>
    <title>Like Gifts | Welcome...</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Home of Gifts">
    <meta name="author" content="Chanchal Santra">

    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico">
 {% load staticfiles %}
    <!-- CSS Page Style -->    
    <link rel="stylesheet" href="{% static 'assets/css/pages/page_log_reg_v2.css' %}">    
    <link rel="stylesheet" href="{% static 'assets/plugins/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="{% static 'assets/plugins/line-icons/line-icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/plugins/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/plugins/sky-forms/version-2.0.1/css/custom-sky-forms.css' %}">

    <link rel="stylesheet" href="{% static 'assets/plugins/owl-carousel/owl-carousel/owl.carousel.css' %}">

    <link rel="stylesheet" href="{% static 'assets/css/plugins/brand-buttons/brand-buttons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/brand-buttons/brand-buttons-inversed.css' %}">
    <link rel="stylesheet" href="{% static 'assets/plugins/ladda-buttons/css/custom-lada-btn.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/hover-effect/css/custom-hover-effects.css' %}">   
    <link rel="stylesheet" href="{% static 'assets/plugins/fancybox/source/jquery.fancybox.css' %}"> 

    <!--[if lt IE 9]>
        <link rel="stylesheet" href="css/sky-forms-ie8.css">
    <![endif]-->

    <!-- CSS Page Style -->    
    <link rel="stylesheet" href="{% static 'assets/css/pages/page_search.css' %}">

    <!-- CSS Theme -->    
    <link rel="stylesheet" href="{% static 'assets/css/themes/default.css' %}" id="style_color">

    <!-- CSS Customization -->
    <link rel="stylesheet" href="{% static 'assets/css/custom.css' %}">
 
</head> 

<body >
<!--=== Style Switcher ===-->    
<i class="style-switcher-btn fa fa-cogs hidden-xs"></i>
<div class="style-switcher animated fadeInRight">
    <div class="theme-close"><i class="icon-close"></i></div>
    <div class="theme-heading">Theme Colors</div>
    <ul class="list-unstyled">
        <li class="theme-default theme-active" data-style="default" data-header="light"></li>
        <li class="theme-blue" data-style="blue" data-header="light"></li>
        <li class="theme-orange" data-style="orange" data-header="light"></li>
        <li class="theme-red" data-style="red" data-header="light"></li>
        <li class="theme-light last" data-style="light" data-header="light"></li>

        <li class="theme-purple" data-style="purple" data-header="light"></li>
        <li class="theme-aqua" data-style="aqua" data-header="light"></li>
        <li class="theme-brown" data-style="brown" data-header="light"></li>
        <li class="theme-dark-blue" data-style="dark-blue" data-header="light"></li>
        <li class="theme-light-green last" data-style="light-green" data-header="light"></li>
    </ul>
    <div style="margin-bottom:18px;"></div>
    <div class="theme-heading">Layouts</div>
    <div class="text-center">
        <a href="javascript:void(0);" class="btn-u btn-u-green btn-block active-switcher-btn wide-layout-btn">Wide</a>
        <a href="#" class="btn-u btn-u-green btn-block boxed-layout-btn">Boxed</a>
    </div>
</div><!--/style-switcher-->
<!--=== End Style Switcher ===-->    

<div class="wrapper">
    <!--=== Header ===-->    
    <div class="header">
        <!-- Topbar -->
        <div class="topbar">
            <div class="container">
                <!-- Topbar Navigation -->
                <ul class="loginbar pull-left">
                    <li><a href="">24x7 CUSTOMER SUPPORT</a></li>  
                    <li class="topbar-devider"></li>   
                    <li><a href=""><i class="fa fa-phone fa-fw"></i>+88124/5678</a></li>  
                    <li class="topbar-devider"></li>   
                    <li><a href=""><i class="fa fa-envelope-o fa-fw"></i>support@likegift.ru</a></li>  
                </ul>
                <ul class="loginbar pull-right">
                    <li><a href="">SEND GIFT</a></li>  
                    <li class="topbar-devider"></li>   
                    <li><a href="">RECEIVE GIFT</a></li>  
                    <li class="topbar-devider"></li>   
                    <li><a href="">HOW IT WORKS</a></li>  
                    <li class="topbar-devider"></li>   
                    <li><a href="">Browse{{ request.session.user }}</a></li>  
                    <li class="topbar-devider"></li> 
                    {%if request.session.user %}  
                    <li><i class="fa fa-sign-in fa-fw"></i><a href="/userlogout">LogOut</a></li>  
                    {%else%} 
                    <li><i class="fa fa-sign-in fa-fw"></i><a href="/userlogin">LogIn</a></li> 
                    {% endif %}
                </ul>
                <!-- End Topbar Navigation -->
            </div>
            <div class="container">
                <!-- Topbar Navigation -->
                <ul class="loginbar pull-left">
                    <li>
                        <select class="form-control">
                            <option value="none" selected disabled>Product</option>
                            <option value="design">design</option>
                            <option value="development">development</option>
                            <option value="illustration">illustration</option>
                            <option value="branding">branding</option>
                            <option value="video">video</option>
                        </select>
                    </li>
                     <!-- Search Block -->
                        <li>
                            <i class="search fa fa-search search-btn"></i>
                            <div class="search-open">
                                <div class="input-group animated fadeInDown">
                                    <input type="text" class="form-control" placeholder="Search">
                                    <span class="input-group-btn">
                                        <button class="btn-u" type="button">Go</button>
                                    </span>
                                </div>
                            </div>    
                        </li>
                        <!-- End Search Block -->  
                </ul>
                <ul class="loginbar pull-right">
                    <button class="btn-u btn-brd rounded-4x btn-u-green btn-u-sm" type="button"><i class="fa fa-shopping-cart"></i> RUB 8800</button>  
                </ul>
                <!-- End Topbar Navigation -->
            </div>
        </div>
        <!-- End Topbar -->
    
        <!-- Navbar -->
        <div class="navbar navbar-inverse" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="fa fa-bars"></span>
                    </button>
                    <a class="navbar-brand" href="index.html">
                        <i id="logo-header" class="fa fa-home fa-3x active color-light" alt="Logo"></i>
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-responsive-collapse">
                    <ul class="nav navbar-nav">
                        <!-- Home -->
                        <li class="active">
                            <a href="/gifts">
                                SPA
                            </a>
                        </li>
                        <!-- End Home -->
                        <!-- Pages -->                        
                        <li>
                            <a href="/gifts">
                                DINING
                            </a>
                        </li>
                        <!-- End Pages -->
                        <!-- Features -->
                        <li>
                            <a href="/gifts">
                                APPAREL
                            </a>
                        </li>
                        <!-- End Features -->
                        <!-- Portfolio -->
                        <li>
                            <a href="/gifts">
                                GETAWAYS
                            </a>
                        </li>
                        <!-- Ens Portfolio -->
                        <!-- Blog -->
                        <li>
                            <a href="/gifts">
                                ACTIVITIES
                            </a>
                        </li>
                        <!-- End Blog -->
                        <!-- Contacts -->
                        <li>
                            <a href="/gifts">
                                ADVENTURE
                            </a>
                        </li>   
                        <li>
                            <a href="/gifts">
                                LIFESTYLE
                            </a>
                        </li>
                        <!-- End Home -->
                        <!-- Pages -->                        
                        <li>
                            <a href="/gifts">
                                HOME
                            </a>
                        </li>
                        <!-- End Pages -->
                        <!-- Features -->
                        <li>
                            <a href="/gifts">
                                FASHION
                            </a>
                        </li>
                        <!-- End Features -->
                        <!-- Portfolio -->
                        <li>
                            <a href="/gifts">
                                SPECIAL TREAT
                            </a>
                        </li>
                        <!-- Ens Portfolio -->
                        <!-- Blog -->
                        <li>
                            <a href="/gifts">
                                KIDS
                            </a>
                        </li>
                        <!-- End Blog -->
                        <!-- Contacts -->
                        <li>
                            <a href="/gifts">
                                SHOWS
                            </a>
                        </li>                  
                        <!-- End Contacts -->
                    </ul>
                </div><!--/navbar-collapse-->
            </div>    
        </div>            
        <!-- End Navbar -->
    </div>
    <!--=== End Header ===-->    
{% block content %}{% endblock %}

    <!--=== Footer ===-->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3 md-margin-bottom-40">
                    <!-- About -->
                    <div class="headline"><h2>More About Like Gift</h2></div>  
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>Company History</td>
                            </tr>
                            <tr>
                                <td>Investors Relations</td>
                            </tr>
                            <tr>
                                <td>Our Partners</td>
                            </tr>
                            <tr>
                                <td>Press Coverages</td>
                            </tr>
                        </tbody>
                    </table>
                </div><!--/col-md-4-->  

                <div class="col-md-3 md-margin-bottom-40">
                  <!--   <div class="headline"><h2></h2></div>   -->
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>Merchant registration</td>
                            </tr>
                            <tr>
                                <td>FAQ</td>
                            </tr>
                            <tr>
                                <td>Careers</td>
                            </tr>
                            <tr>
                                <td>Terms &amp; Conditions</td>
                            </tr>
                            <tr>
                                <td>Privacy Policy</td>
                            </tr>
                            <tr>
                                <td>Contact Us</td>
                            </tr>
                            <tr>
                                <td>Blog</td>
                            </tr>
                        </tbody>
                    </table>
                </div><!--/col-md-4-->  
                
                <div class="col-md-3 md-margin-bottom-40">
                    <!-- Social Links -->
                    <div class="headline"><h2>Get Connected</h2></div> 
                    <form class="footer-subsribe">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Your Email Address">                            
                            <span class="input-group-btn">
                                <button class="btn-u" type="button">Subscribe</button>
                            </span>
                        </div>                  
                    </form> 
                    <ul class="social-icons" style="margin-top: 15px;">
                        <!-- <li><a href="#" data-original-title="Feed" class="social_rss"></a></li> -->
                        <li><a href="#" data-original-title="Linkedin" class="social_linkedin"></a></li>
                        <li><a href="#" data-original-title="Facebook" class="social_facebook"></a></li>
                        <li><a href="#" data-original-title="Twitter" class="social_twitter"></a></li>
                        <li><a href="#" data-original-title="Goole Plus" class="social_googleplus"></a></li>
                        <!-- <li><a href="#" data-original-title="Pinterest" class="social_pintrest"></a></li> -->
                        <!-- <li><a href="#" data-original-title="Vimeo" class="social_vimeo"></a></li> -->
                    </ul>
                    <!-- End Social Links -->                    
                </div><!--/col-md-4-->

                <div class="col-md-3 md-margin-bottom-40">
                    <!-- Contact Us -->
                    <div class="headline"><h2><i class="fa fa-gift fa-fw"></i>Like Gift's Statistic</h2></div> 
                    <div class="row">
                        <div class="col-sm-6 col-xs-6">
                            <div class="counters">
                                <span class="counter">10000</span>   
                                <h4>Members</h4>
                            </div>    
                        </div>
                        <div class="col-sm-6 col-xs-6">
                            <div class="counters">
                                <span class="counter">8008</span> 
                                <h4>Merchants</h4>
                            </div>    
                        </div>
                        <div class="col-sm-6 col-xs-6">
                            <div class="counters">
                                <span class="counter">80000</span>
                                <h4>Gifts for sale</h4>
                            </div>    
                        </div>
                        <div class="col-sm-6 col-xs-6">
                            <div class="counters">
                                <span class="counter">150000</span>
                                <h4>Gifts sent</h4>
                            </div>    
                        </div>
                    </div>          
                    <!-- End Contact Us -->

                    
                </div><!--/col-md-4-->
            </div>
        </div> 
    </div>    
    <!--=== End Footer ===-->

    <!--=== Copyright ===-->
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-6">                      
                    <p class="copyright-space">
                        Copyright &copy; 2015 <span class="color-green">Like Gift, Ltd.</span> ALL Rights Reserved. 
                    <br>
                    No part of this website may be copied, duplicated and/or re-distribcted in anyway.<br>By using this website. you agree with our Terms of Use.</p>
                </div>
                <div class="col-md-6">  
                    <a href="index.html">
                        <img id="logo-footer" src="assets/img/logo1-default.png" class="pull-right" alt="" />
                    </a>
                </div>
            </div>
        </div> 
    </div> 
    <!--=== End Copyright ===-->
</div><!--/End Wrapepr-->

<!-- JS Global Compulsory -->        
<script type="text/javascript" src=" {% static 'assets/plugins/jquery-1.10.2.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/plugins/jquery-migrate-1.2.1.min.js' %}"></script>
<script type="text/javascript" src=" {% static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script> 
<!-- JS Implementing Plugins -->
<script type="text/javascript" src=" {% static 'assets/plugins/back-to-top.js' %}"></script>
<script type="text/javascript" src=" {% static 'assets/plugins/jquery.parallax.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/plugins/counter/waypoints.min.js' %}"></script>
<script type="text/javascript" src=" {% static 'assets/plugins/counter/jquery.counterup.min.js' %}"></script> 
<script src="{% static 'assets/plugins/owl-carousel/owl-carousel/owl.carousel.js' %}"></script>
<script src="{% static 'assets/plugins/ladda-buttons/js/spin.min.js' %}"></script>
<script src="{% static 'assets/plugins/ladda-buttons/js/ladda.min.js' %}"></script>
<!-- JS Page Level -->              
<script type="text/javascript" src="{% static 'assets/js/pages/feature_btn_effects.js' %} "></script>          
<script type="text/javascript" src="{% static 'assets/js/app.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/plugins/owl-carousel.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/plugins/fancybox/source/jquery.fancybox.pack.js' %}"></script>



<!-- Checkout Form -->
<script src=""></script>
<script src="{% static 'assets/plugins/sky-forms/version-2.0.1/js/jquery.validate.min.js' %}"></script>
<!-- Order Form -->
<script src="{% static 'assets/plugins/sky-forms/version-2.0.1/js/jquery-ui.min.js' %}"></script>
<script src="{% static 'assets/plugins/sky-forms/version-2.0.1/js/jquery.form.min.js' %}"></script>
<!-- JS Page Level -->           
<script type="text/javascript" src="{% static 'assets/js/app.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/forms/order.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/forms/review.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/forms/checkout.js' %}"></script>

<script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();
        App.initCounter();
        App.initParallaxBg();
        OwlCarousel.initOwlCarousel();
        App.initFancybox(); 

        OrderForm.initOrderForm();        
        ReviewForm.initReviewForm();        
        CheckoutForm.initCheckoutForm(); 
    });
</script>
<!--[if lt IE 9]>
    <script src="assets/plugins/respond.js"></script>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <script src="assets/plugins/sky-forms/version-2.0.1/js/sky-forms-ie8.js"></script>
<![endif]-->

<!--[if lt IE 10]>
    <script src="assets/plugins/sky-forms/version-2.0.1/js/jquery.placeholder.min.js"></script>
<![endif]-->
</body>
</html> 
