{% extends "app/indexbase.html" %}

{% block content %}
{% load staticfiles %}

   <div class="search-block parallaxBg">
        <!-- Navbar -->
        <div class="navbar navbar-default navtransparent" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                        <span class="sr-only">Переключить навигации</span>
                        <span class="fa fa-bars"></span>
                    </button>
                    <a class="navbar-brand" href="/">
                        <img id="logo-header" src="{% static 'assets/img/shop-32.png'%}" alt="LikeGift">
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-responsive-collapse pull-left">
                    <ul class="nav navbar-nav">
                        <!-- Home -->
                        <li class="topbar-devider"></li>  
                         <li  class="greenhf">
                            <a href="" class="dropdown-toggle">
                                СПА
                            </a>
                        </li>
                        <!-- End Home -->

                        <!-- Pages -->                        
                        <li class="greenhf">
                            <a >
                                РЕСТОРАНЫ
                            </a>
                        </li>
                        <!-- End Pages -->

                        <!-- Features -->
                        <li class="greenhf">
                            <a >
                                ОДЕЖДА
                            </a>
                        </li>
                        <!-- End Features -->

                        <!-- Portfolio -->
                        <li class="greenhf">
                            <a >
                                ОТДЫХ
                            </a>
                        </li>
                        <!-- Ens Portfolio -->

                        <!-- Blog -->
                        <li class="greenhf">
                            <a >
                                ХОББИ
                            </a>
                        </li>
                        <!-- End Blog -->

                        <!-- Contacts -->
                        <li class="greenhf">
                            <a >
                                ПРИКЛЮЧЕНИЯ
                            </a>
                        </li>      
                         <li class="greenhf">
                            <a >
                                СТИЛЬ ЖИЗНИ
                            </a>
                        </li>                   
                         <li class="greenhf">
                            <a >
                                МОДА
                            </a>
                        </li>   
                         <li class="greenhf">
                            <a >
                                ОСОБЫЕ ПОДАРКИ
                            </a>
                        </li>     
                         <li class="greenhf">
                            <a >
                                ДЕТЯМ
                            </a>
                        </li>         
                        <!-- End Contacts -->                   
                      
                    </ul>
                </div><!--/navbar-collapse-->
            </div>    
        </div>            
        <!-- End Navbar -->
    
   <!--=== Search Block ===-->
    
        <div class="container">
            <div class="col-md-7 col-md-offset-3">
<div class="slidertransparent">
                <h2 style="color: aliceblue;">ДОБРО <span class="color-green">ПОЖАЛОВАТЬ В ДОМ ПОДАРКОВ</span></h2>
                     <div class="hr-green"></div>
                <h4><span class="color-light">Подбирайте и отправляйте подарки друзьям и членам семьи</span></h4>
                <div class="row plopacity">
                            <section class="col col-md-5">
                                <select id="Occassion" class="form-control form-control-transparent">
                                    <option>Поводы</option>
                                    <option>День рождения</option>
                                    <option>Годовщина</option>
                                    <option>Свадьба</option>
                                    <option>День Святого Валентина</option> 
                                </select>
                            </section>
                            <section class="col col-md-5">
                                <select id="Relationship" class="form-control form-control-transparent">
                                    <option>Кем вам приходится получатель…</option>
                                    <option>Брат</option>
                                    <option>Член семьи</option>
                                    <option>Член семьи</option>
                                    <option>Девушка</option>
                                    <option>Парень</option>
                                </select>
                            </section>
                            <span class="input-group-btn" style="height: 32px; width: 40px;">
                                <button onclick="searchFromSelection()" class="btn-u rounded" type="button"><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                        
                <h6>
                    <span class="color-light">Более 8 тысяч вариантов подарков, от чашек для кофе 
                    <span class="color-green">до товаров домашнего обихода,</span> продуктов и даже автомобилей.</span>
                </h6>
            </div>
        </div>    
</div>
    </div><!--/container-->   
  
    <!--=== End Search Block ===-->
  <div class="parallaxBgWhitebox"></div>
    <!--=== Content ===-->
    <div class="container content">
        <!-- Begin Service Block -->
               <div class="title-box-v2">
            <h1><b>Как это работает</b></h1>
 <div class="hr-green"></div>
            <p>Благодаря нам покупать подарки стало просто</p>
        </div>
        <div class="row margin-bottom-40">
            <div class="row text-center">
                <!-- <div class="col-lg-10 col-lg-offset-1"> -->
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <img src="{% static 'assets/img/sliders/greenpencil.png'%}">
                                <h4>
                                    <strong>Создать подарок</strong>
                                </h4>
                                <p>Выберите продукт / категорию из нашей огромной базы данных купцов / магазине<br>All in your fingertips.</p>
                                    <div class="hr-green"></div>
                                <a href="#" class="btn btn-dark" target="_blank">Начните искать и отправлять подарки </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <img src="{% static 'assets/img/sliders/greentruck.png'%}">
                                <h4>
                                    <strong>Выберите метод доставки</strong>
                                </h4>
                                <p>Отправьте код по СМС, электронной почте или же распечатайте его. Lorem ipsum dolor sit amet et consectetur.</p>
                                 <div class="hr-green"></div>
                                   <a href="#" class="btn btn-dark" target="_blank">Узнать больше о доставке подарков</a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                 <img src="{% static 'assets/img/sliders/greenmoney.png'%}">
                                <h4>
                                    <strong style="color: #37b36b;">Оплатить</strong>
                                </h4>
                                <p>Оплачивайте с помощью кредитной карты (это на 100% безопасно). Lorem ipsum dolor sit amet et consectetur.</p>
                                 <div class="hr-darkgreen"></div>
                                    <a href="#" class="btn btn-dark" target="_blank" style="color: #37b36b;">Узнать больше о методах оплаты</a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                 <img src="{% static 'assets/img/sliders/greenroket.png'%}">
                                <h4>
                                    <strong>Отправить!</strong>
                                </h4>
                                <p>Система Like Gift обеспечит получение подарка адресатом. А затем получатель сам вам расскажет, как сильно ему понравился подарок.</p>
                                 <div class="hr-green"></div>
                                <a href="" class="btn btn-dark">Узнать больше о получении подарка</a>
                            </div>
                        </div>
                    <!-- </div> -->
                    <!-- /.row (nested) -->
                </div>
                <!-- /.col-lg-10 -->
            </div>
        </div>    
        <!-- End Service Block -->
    </div><!--/container-->  


      <!--=== Download Block ===-->
    <div class="purchase parallaxBggift parallaxBg">
        <div class="container">
            <div class="row">
                <div class="col-md-9 animated fadeInLeft">
                    <span>Скидки 60% - время летней распродажи!</span>
                   <div class="hr-white"></div>
                    <p>Маркетинговый слоган. Хватайте, пока горячо!  Like Gift часто предлагает сезонные скидки.
                        <br>Регистрация занимает всего минуту. Lorem ipsum dolor sit amet.</p>
                </div>            
                <div class="col-md-3 btn-buy animated fadeInRight">
                    <a href="/usersignup" class="btn-u btn-u-lg btn-white" style="border: solid 2px #fff;"><i class="fa fa-sign-in"></i> Зарегистрироваться</a>
                </div>
            </div>
        </div>
    </div><!--/row-->
    <!-- End Download Block -->
   
    <!--=== End Content ===-->



    <!--=== Container Part ===-->
<div class="yellowbg">
    <div class="container content margin-bottom-20">
        <div class="col-md-3">
        <div class="title-box-v2" style="text-align: left;">
            <h4>Популярные категории <p> искать подарки по категориям</p></h4>
             <div class="hr-green" style="margin-bottom: 8px;  margin-left: 0px;"></div>
            <p>Доступны более 2000 товаров.  Lorem ipsum dolor sit amet. Конечно, можно отложить все до завтра, но это самое завтра никогда не наступает. Поэтому просматривайте товары и хватайте, что нравится, пока еще есть время! ,<br><a href="#">browse all</a></p>
        </div>
    </div>
    <div class="col-md-9">
        <div class="row">
                    <div class="col-md-4">
                        <!-- <div class="thumbnail"> -->
                            <a class="fancybox-button zoomer" data-rel="fancybox-button" title="Project #2" href="{% static 'assets/img/top_categories/img2.png' %}">
                                <span class="overlay-zoom">  
                                    <img class="img-responsive img-circle" src="{% static 'assets/img/top_categories/img1.png' %}" alt="" style="margin: auto;" />
                                    <span class="zoom-icon"></span>                   
                                </span>                                              
                            </a>                 
                            <div class="caption">
                                <h3>Для автомобилей</h3>
                                <a class="hover-effect" href="#">Автозапчасти, автоосвежители и др.</a>
                            </div>
                       <!-- </div> -->
                    </div>
                    <div class="col-md-4">
                        <!-- <div class="thumbnail"> -->
                            <a class="fancybox-button zoomer" data-rel="fancybox-button" title="Project #2" href="{% static 'assets/img/top_categories/img2.png' %}">
                                <span class="overlay-zoom">  
                                    <img class="img-responsive img-circle" src="{% static 'assets/img/top_categories/img2.png' %}" alt=""  style="margin: auto;" />
                                    <span class="zoom-icon"></span>                   
                                </span>                                              
                            </a>                   
                            <div class="caption">
                                <h3>Развлечения</h3>
                                <a class="hover-effect" href="#">Музыка, фильмы, книги, другие товары</a>
                            </div>
                        <!-- </div> -->
                    </div>
                    <div class="col-md-4">
                        <!-- <div class="thumbnail"> -->
                            <a class="fancybox-button zoomer" data-rel="fancybox-button" title="Project #2" href="{% static 'assets/img/top_categories/img2.png' %}">
                                <span class="overlay-zoom">  
                                    <img class="img-responsive img-circle" src="{% static 'assets/img/top_categories/img3.png' %}" alt=""  style="margin: auto;" />
                                    <span class="zoom-icon"></span>                   
                                </span>                                              
                            </a>                     
                            <div class="caption">
                                <h3>Развлечения</h3>
                                <a class="hover-effect" href="#">Музыка, фильмы, книги, другие товары</a>
                            </div>
                        <!-- </div> -->
                    </div>
                    <div class="col-md-4">
                        <!-- <div class="thumbnail"> -->
                            <a class="fancybox-button zoomer" data-rel="fancybox-button" title="Project #2" href="{% static 'assets/img/top_categories/img2.png' %}">
                                <span class="overlay-zoom">  
                                    <img class="img-responsive img-circle" src="{% static 'assets/img/top_categories/img2.png' %}" alt=""  style="margin: auto;" />
                                    <span class="zoom-icon"></span>                   
                                </span>                                              
                            </a>                     
                            <div class="caption">
                                <h3>Развлечения</h3>
                                <a class="hover-effect" href="#">Музыка, фильмы, книги, другие товары</a>
                            </div>
                        <!-- </div> -->
                    </div>
                    <div class="col-md-4">
                        <!-- <div class="thumbnail"> -->
                            <a class="fancybox-button zoomer" data-rel="fancybox-button" title="Project #2" href="{% static 'assets/img/top_categories/img2.png' %}">
                                <span class="overlay-zoom">  
                                    <img class="img-responsive img-circle" src="{% static 'assets/img/top_categories/img2.png' %}" alt=""  style="margin: auto;" />
                                    <span class="zoom-icon"></span>                   
                                </span>                                              
                            </a>                     
                            <div class="caption">
                                <h3>Развлечения</h3>
                                <a class="hover-effect" href="#">Музыка, фильмы, книги, другие товары</a>
                            </div>
                        <!-- </div> -->
                    </div>
                    <div class="col-md-4">
                        <!-- <div class="thumbnail"> -->
                            <a class="fancybox-button zoomer" data-rel="fancybox-button" title="Project #2" href="{% static 'assets/img/top_categories/img2.png' %}">
                                <span class="overlay-zoom">  
                                    <img class="img-responsive img-circle" src="{% static 'assets/img/top_categories/img2.png' %}" alt=""  style="margin: auto;" />
                                    <span class="zoom-icon"></span>                   
                                </span>                                              
                            </a>                       
                            <div class="caption">
                                <h3>Развлечения</h3>
                                <a class="hover-effect" href="#">Музыка, фильмы, книги, другие товары</a>
                            </div>
                        <!-- </div> -->
                    </div>
                </div><!--/row-->
    </div>
         </div><!--/container-->
</div>
              <!--=== Download Block ===-->
    <div class="search">
        <div class="container">
            <div class="row">
                <div class="col-md-3 animated fadeInLeft">
                    <span>Самые популярные поисковые запросы</span>
                   <div class="hr-green" style="margin: 0px;"></div>
                    <p>происходит сейчас</p>
                </div>            
                <div class="col-md-9 btn-buy animated fadeInRight" style="text-align: left;">
                    <!--Inversed and Rounded Buttons-->
               
                <div class="row brand-page margin-bottom-40">
                    <div class="ladda-btn">
                        <a rel="shrink" href="/catgift/1" class="btn-u btn-o-lightgreen shrink btn-o">Lego Marvel PS312<button class="btn-u btn-o-lightgreen-o btn-o" type="button"><i class="fa fa-search">12</i></button></a>
                         <a rel="shrink" href="/catgift/2" class="btn-u btn-o-lightgreen shrink btn-o">Одежда12<button class="btn-u btn-o-lightgreen-o btn-o" type="button"><i class="fa fa-search">12</i></button></a>
                          <a rel="shrink" href="/catgift/3" class="btn-u btn-o-lightgreen shrink btn-o">Lorem Ipsum12<button class="btn-u btn-o-lightgreen-o btn-o" type="button"><i class="fa fa-search">12</i></button></a>
                           <a rel="shrink" href="/catgift/4" class="btn-u btn-o-lightgreen shrink btn-o">Lorem Ipsum<button class="btn-u btn-o-lightgreen-o btn-o" type="button"><i class="fa fa-search">12</i></button></a>
                            <a rel="shrink" href="/catgift/5" class="btn-u btn-o-lightgreen shrink btn-o">Lego Marvel PS3<button class="btn-u btn-o-lightgreen-o btn-o" type="button"><i class="fa fa-search">12</i></button></a>
                          <a rel="shrink" href="/catgift/6" class="btn-u btn-o-lightgreen shrink btn-o">Одежда<button class="btn-u btn-o-lightgreen-o btn-o" type="button"><i class="fa fa-search">1k2</i></button></a>
                          <a rel="shrink" href="/catgift/7" class="btn-u btn-o-lightgreen shrink btn-o">Рыба маска <button class="btn-u btn-o-lightgreen-o btn-o" type="button"><i class="fa fa-search">1k2</i></button></a>
                          <a rel="shrink" href="/catgift/8" class="btn-u btn-o-lightgreen shrink btn-o">Lorem Ipsum<button class="btn-u btn-o-lightgreen-o btn-o" type="button"><i class="fa fa-search">1k2</i></button></a>
                          <a rel="shrink" href="/catgift/9" class="btn-u btn-o-lightgreen shrink btn-o">Lego Marvel PS3<button class="btn-u btn-o-lightgreen-o btn-o" type="button"><i class="fa fa-search">1k2</i></button></a>
                          <a rel="shrink" href="/catgift/10" class="btn-u btn-o-lightgreen shrink btn-o">Односпальный матрас Airsprung Evanton Memory Single Matress<button class="btn-u btn-u-green btn-o" type="button"><i class="fa fa-search">1k2</i></button></a>
                    </div>
                </div>                
                <!--Inversed and Rounded Buttons-->
                </div>
            </div>
        </div>
    </div><!--/row-->
    <!-- End Download Block -->
    </div><!--/container-->     

    <!--=== Parallax Counter ===-->
    <div class="parallax-counter parallaxBg ">
<!-- Owl Carousel v2 --> <div class="price-head">Our Top Merchents</div>
                <div class="owl-carousel-v2 owl-carousel-style-v1 margin-bottom-50">
                   <div class="owl-slider-v2">
                        <div class="item">
                            <img class="img-responsive" src="{% static 'assets/img/clients/cisco_grey.png' %}" alt="">
                        </div>
                        <div class="item">
                            <img class="img-responsive" src="{% static 'assets/img/clients/cocacola_grey.png' %}" alt="">
                        </div>
                        <div class="item">
                            <img class="img-responsive" src="{% static 'assets/img/clients/aztec_grey.png' %}" alt="">
                        </div>
                        <div class="item">
                            <img class="img-responsive" src="{% static 'assets/img/clients/everyday_grey.png' %}" alt="">
                        </div>
                        <div class="item">
                            <img class="img-responsive" src="{% static 'assets/img/clients/gamescast_grey.png' %}" alt="">
                        </div>
                        <div class="item">
                            <img class="img-responsive" src="{% static 'assets/img/clients/hp_grey.png' %}" alt="">
                        </div>
                        <div class="item">
                            <img class="img-responsive" src="{% static 'assets/img/clients/igneus_grey.png' %}" alt="">
                        </div>
                        <div class="item">
                            <img class="img-responsive" src="{% static 'assets/img/clients/motogp_grey.png' %}" alt="">
                        </div>
                        <div class="item">
                            <img class="img-responsive" src="{% static 'assets/img/clients/natural_grey.png' %}" alt="">
                        </div>
                    </div>

                    <div class="owl-navigation">
                        <div class="customNavigation">
                            <a class="owl-btn rounded-4x prev-v2"><i class="fa fa-angle-left"></i></a>
                            <a class="owl-btn rounded-4x next-v2"><i class="fa fa-angle-right"></i></a>
                        </div>
                    </div><!--/navigation-->              
                </div>    
                <!-- End Owl Carousel v2 --> 
    </div>    
    <!--=== End Parallax Counter ===-->
<script type="text/javascript">
function searchFromSelection() 
{
var searchKey = document.getElementById("Occassion").value;
 if(searchKey=='By Occassions'){
        searchKey  = document.getElementById("Relationship").value;
        if(searchKey=='Select Relationship ...'){return false;}
    }
//alert(searchKey)
var url="/search/"+searchKey;
window.location.href=url;
}  
</script>

   
    <!--=== Container Part ===-->
{% endblock %}
