{% extends "app/indexbase.html" %}

{% block content %}
{% load staticfiles %}
    <!--=== Search Block ===-->
    <div class="search-block parallaxBg">
        <div class="container">
            <div class="col-md-7 col-md-offset-3">
                <h1>Welcome to the <span class="color-green">Home of Gifts</span></h1>
                <h4><span class="color-light">find and send gifts to your friends and family</span></h4>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search words with regular expressions ...">
                    <span class="input-group-btn">
                        <button class="btn-u" type="button"><i class="fa fa-search"></i></button>
                    </span>
                </div>
                <h6><span class="color-light">Over 8k gift suggestions, from the likes of a cup of coffee, to 
                    <span class="color-green">household goods,</span> groceries and even automobiles.</span></h6>
                
            </div>
        </div>    
    </div><!--/container-->     
    <!--=== End Search Block ===-->

    <!--=== Content ===-->
    <div class="container content">
        <!-- Begin Service Block -->
               <div class="title-box-v2">
            <h1><b>How it Works</b></h1>
                  <hr class="small">
            <p>We make gifting a simple task</p>
        </div>
        <div class="row margin-bottom-40">
            <div class="row text-center">
                <!-- <div class="col-lg-10 col-lg-offset-1"> -->
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                    <i class="fa fa-circle fa-stack-2x color-green"></i>
                                    <i class="fa fa-pencil fa-stack-1x color-light"></i>
                                </span>
                                <h4>
                                    <strong>Create a Gift</strong>
                                </h4>
                                <p>Choose product / category from our huge database of merchants / shop. <br>All in your fingertips.</p>
                                <a href="#" class="btn btn-dark" target="_blank">Start browsing &amp; sending gifts </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                    <i class="fa fa-circle fa-stack-2x color-green"></i>
                                    <i class="fa fa-truck fa-stack-1x color-light"></i>
                                </span>
                                <h4>
                                    <strong>Select Delivery Method</strong>
                                </h4>
                                <p>Send the code via SMS, email or <br>print-out. Lorem ipsum dolor sit amet et consectetur.</p>
                                <a href="http://www.socioboard.com/Features.aspx#analyze" class="btn btn-dark" target="_blank">Learn more about gifts delivery</a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                    <i class="fa fa-circle fa-stack-2x color-dark-green"></i>
                                    <i class="fa fa-money fa-stack-1x color-light"></i>
                                </span>
                                <h4>
                                    <strong>Make Payment</strong>
                                </h4>
                                <p>Make a payment with your credit card. (100% Secure). Lorem ipusm dolor sit amet et consectetur.</p>
                                <a href="http://www.socioboard.com/Features.aspx#report" class="btn btn-dark" target="_blank">Learn more about payment methods</a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                    <i class="fa fa-circle fa-stack-2x color-green"></i>
                                    <i class="fa fa-send-o fa-stack-1x color-light"></i>
                                </span>
                                <h4>
                                    <strong>Send it!</strong>
                                </h4>
                                <p>Like Gift’s system will make Sure that recipient get the gift. they share with you how they like the gift.</p>
                                <a href="" class="btn btn-dark">Learn more about redeeming a gift</a>
                            </div>
                        </div>
                    <!-- </div> -->
                    <!-- /.row (nested) -->
                </div>
                <!-- /.col-lg-10 -->
            </div>
        </div>    
        <!-- End Service Block -->

      <!--=== Download Block ===-->
    <div class="purchase">
        <div class="container">
            <div class="row">
                <div class="col-md-9 animated fadeInLeft">
                    <span>60% off Summer Sales Discount is here!</span>
                   <!--  <hr class="small"> -->
                    <p>Marketing line tests here. Grab it now while it’s hot. Like Gift frequently releases seasonal discount promotion.
                        <br>Only takes a minute to register. Lorem ipsum dolor sit amet.</p>
                </div>            
                <div class="col-md-3 btn-buy animated fadeInRight">
                    <a href="#" class="btn-u btn-u-lg btn-android"><i class="fa fa-sign-in"></i> Register Now</a>
                </div>
            </div>
        </div>
    </div><!--/row-->
    <!-- End Download Block -->
    </div><!--/container-->     
    <!--=== End Content ===-->



    <!--=== Container Part ===-->
    <div class="container margin-bottom-20">
        <div class="col-md-3">
        <div class="title-box-v2">
            <h2>Top Categories <p>browse gifts by category</p></h2>
            <hr class="small">
            <p>More than 2000 products available. Lorem ipsum dolor sit amet. You can put things off until tomorrow but tomorrow may never comes. So grab it before it’s expired,<br><a href="#">browse all</a></p>
        </div>
    </div>
    <div class="col-md-9">
        <div class="row">
                    <div class="col-md-4">
                        <!-- <div class="thumbnail"> -->
                            <a class="fancybox-button zoomer" data-rel="fancybox-button" title="Project #1" href="#">
                                <span class="overlay-zoom"> 
                                    <img class="img-responsive" src="{% static 'assets/img/top_categories/img1.png' %}" alt="" />
                                    <span class="zoom-icon"></span>                   
                                </span>                                              
                            </a>                    
                            <div class="caption">
                                <h3>Automative</h3>
                                <a class="hover-effect" href="#">Car accesorries, Car fresheners, etc</a>
                            </div>
                       <!-- </div> -->
                    </div>
                    <div class="col-md-4">
                        <!-- <div class="thumbnail"> -->
                            <a class="fancybox-button zoomer" data-rel="fancybox-button" title="Project #2" href="assets/img/top_categories/img2.png">
                                <span class="overlay-zoom">   
                                    <img class="img-responsive img-circle" src="{% static 'assets/img/top_categories/img2.png' %}" alt="" />
                                    <span class="zoom-icon"></span>                   
                                </span>                                              
                            </a>                    
                            <div class="caption">
                                <h3>Entertainment</h3>
                                <a class="hover-effect" href="#">music, movie, book, merchandise, etc</a>
                            </div>
                        <!-- </div> -->
                    </div>
                    <div class="col-md-4">
                        <!-- <div class="thumbnail"> -->
                            <a class="fancybox-button zoomer" data-rel="fancybox-button" title="Project #2" href="assets/img/top_categories/img3.png">
                                <span class="overlay-zoom">  
                                    <img class="img-responsive img-circle" src="{% static 'assets/img/top_categories/img3.png' %}" alt="" />
                                    <span class="zoom-icon"></span>                   
                                </span>                                              
                            </a>                    
                            <div class="caption">
                                <h3>Entertainment</h3>
                                <a class="hover-effect" href="#">music, movie, book, merchandise, etc</a>
                            </div>
                        <!-- </div> -->
                    </div>
                    <div class="col-md-4">
                        <!-- <div class="thumbnail"> -->
                            <a class="fancybox-button zoomer" data-rel="fancybox-button" title="Project #2" href="{% static 'assets/img/top_categories/img2.png' %}">
                                <span class="overlay-zoom">  
                                    <img class="img-responsive img-circle" src="{% static 'assets/img/top_categories/img2.png' %}" alt="" />
                                    <span class="zoom-icon"></span>                   
                                </span>                                              
                            </a>                    
                            <div class="caption">
                                <h3>Entertainment</h3>
                                <a class="hover-effect" href="#">music, movie, book, merchandise, etc</a>
                            </div>
                        <!-- </div> -->
                    </div>
                    <div class="col-md-4">
                        <!-- <div class="thumbnail"> -->
                            <a class="fancybox-button zoomer" data-rel="fancybox-button" title="Project #2" href="{% static 'assets/img/top_categories/img2.png' %}">
                                <span class="overlay-zoom">  
                                    <img class="img-responsive img-circle" src="{% static 'assets/img/top_categories/img2.png' %}" alt="" />
                                    <span class="zoom-icon"></span>                   
                                </span>                                              
                            </a>                    
                            <div class="caption">
                                <h3>Entertainment</h3>
                                <a class="hover-effect" href="#">music, movie, book, merchandise, etc</a>
                            </div>
                        <!-- </div> -->
                    </div>
                    <div class="col-md-4">
                        <!-- <div class="thumbnail"> -->
                            <a class="fancybox-button zoomer" data-rel="fancybox-button" title="Project #2" href="{% static 'assets/img/top_categories/img2.png' %}">
                                <span class="overlay-zoom">  
                                    <img class="img-responsive img-circle" src="{% static 'assets/img/top_categories/img2.png' %}" alt="" />
                                    <span class="zoom-icon"></span>                   
                                </span>                                              
                            </a>                    
                            <div class="caption">
                                <h3>Entertainment</h3>
                                <a class="hover-effect" href="#">music, movie, book, merchandise, etc</a>
                            </div>
                        <!-- </div> -->
                    </div>
                </div><!--/row-->
    </div>
         </div><!--/container-->
              <!--=== Download Block ===-->
    <div class="search">
        <div class="container">
            <div class="row">
                <div class="col-md-3 animated fadeInLeft">
                    <span>Top Searched</span>
                   <!--  <hr class="small"> -->
                    <p>most happening now</p>
                </div>            
                <div class="col-md-9 btn-buy animated fadeInRight">
                    <!--Inversed and Rounded Buttons-->
               
                <div class="row brand-page margin-bottom-40">
                    <div class="ladda-btn">
                        <a rel="shrink" class="btn-u btn-u-dark-green shrink">Lego Marvel PS3<button class="btn-u btn-u-green" type="button"><i class="fa fa-search">12</i></button></a>
                         <a rel="shrink" class="btn-u btn-u-dark-green shrink">Clothing<button class="btn-u btn-u-green" type="button"><i class="fa fa-search">12</i></button></a>
                          <a rel="shrink" class="btn-u btn-u-dark-green shrink">Lego Marvel PS3<button class="btn-u btn-u-green" type="button"><i class="fa fa-search">12</i></button></a>
                           <a rel="shrink" class="btn-u btn-u-dark-green shrink">Lorem Ipsum<button class="btn-u btn-u-green" type="button"><i class="fa fa-search">12</i></button></a>
                            <a rel="shrink" class="btn-u btn-u-dark-green shrink">Lego Marvel PS3<button class="btn-u btn-u-green" type="button"><i class="fa fa-search">12</i></button></a>
                          <a rel="shrink" class="btn-u btn-u-green shrink">Clothing</a>
                          <a rel="shrink" class="btn-u btn-u-green shrink">Fish Mask  6K6</a>
                          <a rel="shrink" class="btn-u btn-u-green shrink">Lorem Ipsum<i class="fa fa-search fa-fw">12</i></a>
                          <a rel="shrink" class="btn-u btn-u-green shrink">Lego Marvel PS3<button class="btn-u btn-u-dark-green" type="button"><i class="fa fa-search">12</i></button></a>
                          <a rel="shrink" class="btn-u btn-u-green shrink">Airsprung Evanton Memory Single Matress</a>
                    </div>
                </div>                
                <!--Inversed and Rounded Buttons-->
                </div>
            </div>
        </div>
    </div><!--/row-->
    <!-- End Download Block -->
    </div><!--/container-->     

    <!--=== Parallax Counter ===-->
    <div class="parallax-counter parallaxBg ">
<!-- Owl Carousel v2 -->
                <div class="owl-carousel-v2 owl-carousel-style-v1 margin-bottom-50">
                    <div class="owl-slider-v2">
                        <div class="item">
                            <img class="img-responsive" src="{% static 'assets/img/clients2/baderbrau.png' %}" alt="">
                        </div>
                        <div class="item">
                            <img class="img-responsive" src="{% static 'assets/img/clients2/fddw.png' %}" alt="">
                        </div>
                        <div class="item">
                            <img class="img-responsive" src="{% static 'assets/img/clients2/inspiring.png' %}" alt="">
                        </div>
                        <div class="item">
                            <img class="img-responsive" src="{% static 'assets/img/clients2/ea-canada.png' %}" alt="">
                        </div>
                        <div class="item">
                            <img class="img-responsive" src="{% static 'assets/img/clients2/marianos.png' %}" alt="">
                        </div>
                        <div class="item">
                            <img class="img-responsive" src="{% static 'assets/img/clients2/bellfield.png' %}" alt="">
                        </div>
                        <div class="item">
                            <img class="img-responsive" src="{% static 'assets/img/clients2/national-geographic.png' %}" alt="">
                        </div>
                        <div class="item">
                            <img class="img-responsive" src="{% static 'assets/img/clients2/emirates.png' %}" alt="">
                        </div>
                        <div class="item">
                            <img class="img-responsive" src="{% static 'assets/img/clients2/co-wheels.png' %}" alt="">
                        </div>
                    </div>

                    <div class="owl-navigation">
                        <div class="customNavigation">
                            <a class="owl-btn prev-v2"><i class="fa fa-angle-left"></i></a>
                            <a class="owl-btn next-v2"><i class="fa fa-angle-right"></i></a>
                        </div>
                    </div><!--/navigation-->              
                </div>    
                <!-- End Owl Carousel v2 --> 
    </div>    
{% endblock %}
