{% extends "app/indexbase.html" %}
{% block content %}
{% load staticfiles %}

    <div id="first" class="hidden" value="{{bshtml}}"></div>
    <!--=== Content Part ===-->
    <div class="container content">		
    	<div class="row-fluid privacy">
            
        </div><!--/row-fluid-->        
    </div><!--/container-->		
    <!--=== End Content Part ===-->

<script type="text/javascript">
    function get_text(){
        //alert("privacy page");
        var bshtml = document.getElementById("first").getAttribute("value");
        //alert(bshtml);
        document.querySelector('.row-fluid').innerHTML = bshtml;
    }

window.onload=get_text();
</script>
{% endblock %}